@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body {
	background-color:#F7F7F7;
}

	body .inverted {
		background-color:#000000;
	}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

li{
  margin: 10px 0;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

.content {
    padding-top: 1.1rem;
}

@media (min-width: 768px) {

	.docs-example {
		position: relative;
		padding: 1em 1em 1em;
		border: 1px solid #BBB;
		border-radius: 5px;
		margin-top: 1.5rem;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 1.5rem;
		background-color: #FFFFFF;
	}

		.docs-example .card {
			min-width: 300px;
			max-width: 300px;
		}

	html {
		height: 100%;
		width: 100%;
	}

	body {
		min-height: 100%;
	}

	.nc3_hover {
		position: relative;
	}

	.nc3_tooltip {
		bottom: 101%;
		right: -65%;
		z-index: 999;
		background-color: #aeaeae;
		color: white;
		border-radius: 5px;
		position: absolute;
		padding: 0.5rem;
		max-width: 20em;
		min-width: 20em;
		visibility: hidden;
	}

	.nc3_hover:hover .nc3_tooltip {
		visibility: visible;
	}


	@media screen and (max-width: 1024px) {
		.hide-mobile {
			visibility: hidden;
		}
	}
}
