<div class="ui menu">
  <a href="/en/" class="item"><img class="ui small image" src="/en/img/logo.png" style="display:block;margin-left:auto;margin-right:auto" /></a>
  <a href="beforestarting.html" class="item">
    Before Starting
  </a>
  <a href="accessingrcm.html" class="item">
    Accessing RCM
  </a>
  <a href="sdsetup.html" class="item">
    SD Card Setup
  </a>
  <a href="safetyprecautions.html" class="item">
    Safety Precautions
  </a>
  <a href="final.html" class="item">
    Using CFW
  </a>
  <a href="troubleshooting.html" class="item">
    Troubleshooting
  </a>
  <div class="right menu">
    <a href="https://www.sdsetup.com" class="item">
		Back to SDSetup
	  </a>
  </div>
</div>